{% extends "base.html" %}

{% block title %}
Enroll
{% endblock title %}

{% block head %}
<h1><strong>Join the Best Gym in Raipur</strong></h1>

<div class = "container mt-4">
    <div class = "row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6">
            {% for message in messages %}
            <div class = "alert alert-{{message.tags}} alert-dismissible fade show" role = "alert">
                <strong></strong> {{message}}
                <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
            </div>
            {% endfor %}
            <form action="/enroll" method="post">{% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="fullname" placeholder="Enter your Full Name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control mt-2" name="email" value="{{user.email}}" placeholder="Enter your email" readonly required>
                </div>
                <div class="form-group">
                    <select class="form-control mt-2" id="gender" name="gender" required>
                        <option selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control mt-2" name="phonenumber" value="{{user.username}}" placeholder="Enter your Phone Number" readonly required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control mt-2" name="dob" placeholder="Enter your Date of Birth" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control mt-2" name="address" placeholder="Enter your Address" required>
                </div>
                <div class="form-group">
                    <select class="form-control mt-2" id="membershipplan" name="membershipplan" required>
                        <option selected>Select Membership Plan</option>
                        {% for p in Membership %}
                        <option value="{{p.Plan}}">{{p.Plan}} - $ {{p.Price}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control mt-2" id="trainer" name="trainer" required>
                        <option selected>Select Trainer</option>
                        {% for t in Trainers %}
                        <option value="{{t.Name}}">{{t.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control mt-2" name="reference" placeholder="References(if any)">
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" type="submit" id="myButton">Enroll</button>
                </div>
                <!-- Set up a container element for the button -->
                <!--<div id="paypal-button-container"></div>
                <script src="https://www.paypal.com/sdk/js?client-id=AdyOcNSJL8oeEpCZiMaQ9x1YcHo-E2M_yI9JB0S5phsocT8WvOrBHJhpIXiVD0qFLphAKJvyvaP13gPJ&currency=USD"></script>

                <script>
                    paypal.Buttons({
                        createOrder: function(data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: '100'
                                    }
                                }]
                            });
                        },

                        onApprove: function(data, actions) {
                            return actions.order.capture().then(function(details) {
                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                            });
                        }
                    }).render('#paypal-button-container');
                </script>-->
            </form>
        </div>
        <div class = "col-md-3"></div>
    </div>
</div>
{% endblock head %}